.first-section-container{
 background-image: url(../assets/Hero-bg.png) ;

height: 500px;
margin-left: 10px;
margin-top: 40px;
margin-bottom: 20px;
padding-top: 30px;
padding-top: 10px;
justify-content: center;
text-align: center;
border-radius: 8px;

}



.writing{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 48px;
font-weight: 700;
margin-bottom: 30px;

margin-bottom: 0px;
}
.letter{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
}
.btn{
color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 20px;
text-decoration: none;
font-weight: 600;
text-align: center;
border-radius: 8px;
background: rgb(13, 19, 33);
}
.social-icons{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
justify-content: space-around;
margin-right: 20px;
margin-top: 20px;
}
.footer-container{
    height: 300px;
    width: 1455px;
    margin-top: 100px;
    margin-bottom: 100px;
  
    display: flex;
    justify-content: space-between;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
}
.header-container{ 
    margin-top: 100px;
    margin-bottom: 100px;
   
    border-radius: 16px;
  
 
    
}
.footer-content{

color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
}
.h5{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
margin-bottom: 20px;
}
.yo{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
margin-bottom: 20px;
}
.ins {
    text-align: center;
}
.third-container{
   
    width: 1455px;
    height: 700px;
    margin-bottom: 100px;
    margin-top: 100px;
    border-radius: 8px;
}
.frame{
  
    border: 2px solid gray;
    position: static;
    text-align: center;
    margin-top: 15px;
    box-sizing: 8px;
    

}
.forth-section{
   
    width: 1455px;
    height: 500px;
    border-radius: 8px;
}
.icons{
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
}
.y1{
    
    border-radius: 16px;
    position: static;
width: 364px;
height: 299px;

    background: rgba(255, 76, 30, 0.05);
}
.y2{
   
    border-radius: 16px;
    position: static;
width: 364px;
height: 299px;

background: rgba(0, 76, 232, 0.05);
}
.y3{
    
    border-radius: 16px;
    position: static;
    width: 364px;
    height: 299px;
background: rgba(255, 223, 0, 0.05);

}
.v{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 800;
}
.v1{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
}
.v2{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 700;
}
.yo1{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
}
.fifth-container{
    width: 1455px;
    height: 600px;

    margin-top: 100px;
    margin-bottom: 100px;
}
.m{
color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 700;
}
.m1{
color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
}
.z{
color: rgba(13, 19, 33, 0.4);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
margin-left: 30px;
border-radius: 8px;
width: 390px;
height: 30px;
text-align: center;
background: rgb(255, 255, 255);
}
.z1{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
border-radius: 8px;
width: 185px;
height: 30px;
border-radius: 8px;

background: rgb(255, 255, 255);
}
.m4{
    background-image: url(../assets/handshake.jpg);
    width: 1455px;
    height: 450px;
    border-radius: 16px;
background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2);
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 64px 48px 64px 48px;
margin: 0;




}
.m0{
    margin: 0;
margin-left: 10px;}
.second-container{
   
    width: 1455px;
    height: 900px;
    margin-bottom: 100px;
    margin-top: 20px;
    padding-top: 20px;
    padding-right: 30px;
    border-radius: 16px;

background: rgba(13, 19, 33, 0.02);
}
.flex{
    display: flex;
    justify-content: space-between;
   
    border-radius: 16px;
    margin-bottom: 10px;

background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
position: static;
width: 1400px;
height: 230px;
margin-left: 30px;
}
.flex2 {
    display: flex;
    gap: 180px;
    
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
position: static;
width: 1400px;
height: 230px;
margin-left: 30px;
border-radius: 8px;
    
margin-bottom: 10px;
}
.flex3{
    display: flex;
    justify-content: space-between;
    
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
position: static;
width: 1400px;
height: 230px;
margin-left: 30px;
border-radius: 8px;
}
.hello {
    
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}
.hello1{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
}
.hello2{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
opacity: 0.7;
}
.x{
color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
}
.y{
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
}
.x1{
   
position: static;
width: 200px;
height: 300px;
box-sizing: border-box;

opacity: 0.7;
text-decoration: none;
background-color:  rgb(255, 255, 255);
 color: rgb(13, 19, 33);
 border-radius: 8px;
 

}